{% extends 'base.twig' %}
{% block content %}
    <form>
        <label>TIDAL album URL or id
            <input type="text" name="album"/>
        </label>
        <br/>
        <label>Release MBID
            <input type="text" name="release"/>
        </label>
        <br/>
        <input type="submit">
    </form>
{% endblock %}